
.social-share-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.social-share-icon {
    background-color: rgb(5, 23, 37);
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    height: 45px;
    width: 45px;
    border-radius:50%;
    -webkit-transition: transform 0.3s ease, background-color 0.3s ease;
    -moz-transition: transform 0.3s ease, background-color 0.3s ease;
    -ms-transition: transform 0.3s ease, background-color 0.3s ease;
    -o-transition: transform 0.3s ease, background-color 0.3s ease;
    
}

.social-share-icon:hover {
    transform: scale(1.1);
    background-color: #0056b3;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
