/* General Styles for the Navbar */
.nav-container {
    width: 100%;
    border-top: 2px solid white;
    
    background: transparent;
    padding: 10px 0;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
}

@keyframes navSlideIn {
    0% {
        opacity: 0;
        -webkit-transform: translate(0%, -50%);
        -moz-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
        -o-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
}

    100% {
        opacity: 1;

    }

}

/* Animating Navbar links */
.nav-links {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: navSlideIn 0.4s ease-in;
    animation: navSlideIn 0.4s ease-in;
    animation-timeline: scroll(0%,0%);
}

.nav-links ul {
    list-style-type: none;
    /* Remove bullets from the list */
    width: 80%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    /* Space between each list item */
}

.nav-links li {
    font-size: 16px;
    position: relative;
    flex: auto auto auto;
}

.nav-links li:not(:last-child)::after {
    content: '';
    /* Empty content for the pseudo-element */
    position: absolute;
    right: -15px;
    /* Position it just to the right of the list item */
    top: 0;
    bottom: 0;
    border-right: 2px solid #fff;
    /* White vertical line */
}

/* Styling for the links */
.nav-links a {
    color: #fafafa;
    position: relative;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nav-links a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #a4f76d;
    top: 25px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.nav-links a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}


/* Responsive Design: Ensuring good view on mobile devices */
@media (max-width: 768px) {
    .nav-links {
        width: 90%;
        /* Decrease width on smaller screens */
        flex-direction: column;
        /* Stack the links vertically */
        gap: 20px;
        /* Adjust the space between links */
        animation: fadeIn 1.5s ease-out;
        /* Fade-in effect for mobile */
    }

    .nav-links ul {
        display: block;
        /* Stack the list items */
        text-align: center;
        /* Center the links */
    }

    /* Remove the vertical line on smaller screens */
    .nav-links li:not(:last-child)::after {
        display: none;
    }
}