.home-container {
    background: transparent;
    transform: translate(0, 100px);
    animation: homeFadeIn 0.4s linear forwards;
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    -ms-transform: translate(0, 100px);
    -o-transform: translate(0, 100px);
    -webkit-animation: homeFadeIn 0.4s linear forwards;
    opacity: 0;
}

.home-header {
    position: sticky;
    top: 3%;
    text-align: center;
    margin: 20px 20px 0px 20px;
    padding: 10px 0;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.7) 0%, rgba(31, 31, 31, 0.7) 100%);
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    transition: all 0.3s linear;
    z-index: 1000;
    -webkit-backdrop-filter: blur(20px);
    filter: brightness(1.2);
    backdrop-filter: blur(20px);
    overflow: hidden;
    -webkit-filter: brightness(1.2);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.home-header-heading {
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0 2px 10px rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    animation: fadeIn 0.5s ease-in-out;
}

.home-header-nav-list {
    list-style-type: none;
    display: flex;
    font-size: 1.0em;
    justify-content: space-around;
    width: 90%;
    max-width: 400px;
    margin: auto;
}



.home-header-nav-list li {
    font-weight: 600;
    cursor: pointer;
    text-transform: capitalize;
    color: #ddd;
    transition: color 0.3s ease, transform 0.3s ease;

    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition: color 0.3s ease, transform 0.3s ease;
    -moz-transition: color 0.3s ease, transform 0.3s ease;
    -ms-transition: color 0.3s ease, transform 0.3s ease;
    -o-transition: color 0.3s ease, transform 0.3s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.home-header-nav-list li:hover {
    color: #ff6347;
    /* Neon-like hover effect */
    transform: translateY(-3px);
    text-shadow: 0 2px 10px rgba(255, 255, 255, 0.4);
}

/* Tag Input Styles */
.home-header-tags {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-header-tag-input {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 300px;
    /* Adjust width as needed */
    transition: border-color 0.3s ease;
    margin-right: 10px;
    /* Space between input and button */
}

/* Focus effect for Tag Input */
.home-header-tag-input:focus {
    border-color: #ff6347;
    outline: none;
}

/* Button Styles */
.home-header-tag-button {
    padding: 10px 15px;
    font-size: 1em;
    color: #fff;
    background-color: #ff6347;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect for Button */
.home-header-tag-button:hover {
    background-color: #e5533d;
}

/* Home Feed Container */
.home-feed-container {
    min-width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 1px blueviolet;
    border: 2px solid whitesmoke;
    background: repeating-linear-gradient(to bottom, blueviolet 0px, rgba(0, 0, 0, 0.5) 100px);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.7) 0%, rgba(31, 31, 31, 0.7) 100%);
    box-sizing: border-box;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .home-header {
        padding: 30px 10px;
    }

    .home-header-heading {
        font-size: 2.2em;
    }

    .home-header-nav-list {
        font-size: 1em;
    }

    .home-header-tag-input {
        width: 100%;
        /* Full width on mobile */
    }

    .home-header-tags {
        flex-direction: column;
        /* Stack input and button on mobile */
        align-items: stretch;
        /* Full width for button */
    }

    .home-header-tag-button {
        width: 100%;
        /* Full width for button on mobile */
        margin-top: 10px;
        /* Space above button */
    }
}

@keyframes homeFadeIn {

    to {
        opacity: 1;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}

.full-screen-login-prompt {
    margin-top: 25px;
    border-left: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
    width: 100%;
    min-height: 70vh;
    background: url('https://static.vecteezy.com/system/resources/previews/014/293/189/original/natural-landscape-mountain-art-sun-set-free-vector.jpg') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 35px 20px;
    -webkit-border-radius: 2px solid white;
    -moz-border-radius: 2px solid white;
    -ms-border-radius: 2px solid white;
    -o-border-radius: 2px solid white;
    border-radius: 15px;
}

.login-prompt-box {
    width: 100%;
    max-width: 800px;
    background: rgba(0, 0, 0, 0.5);
    /* Dark background with opacity */
    color: white;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 2px 5px white;
    animation: fadeIn 1s ease-out;
}

/* Login Heading */
.login-heading {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #f0f0f0;
    text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

/* Login Text */
.login-text {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #e2e2e2;
    line-height: 1.6;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* Login Benefits List */
.login-benefits {
    list-style-type: none;
    margin-bottom: 30px;
    padding-left: 0;
    color: #dcdcdc;
    font-size: 1.1em;
    text-align: left;
}

.login-benefits li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
    opacity: 0;
    /* Ensure it starts invisible */
    transform: translate(10%);
    /* Match the starting transform of the animation */
}

@keyframes login-benefits-slideIn {
    to {
        opacity: 1;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}

.login-benefits li::before {
    content: '✔';
    position: absolute;
    left: -5px;
    bottom: -5px;
    color: #50d2d1;
    font-size: 1.3em;
}

.login-benefits li:nth-child(1) {
    -webkit-animation: login-benefits-slideIn 0.5s linear forwards;
    animation: login-benefits-slideIn 0.5s linear forwards;
    animation-timeline: scroll(0%, 0%);
}

.login-benefits li:nth-child(2) {
    -webkit-animation: login-benefits-slideIn 0.5s linear 0.1s forwards;
    animation: login-benefits-slideIn 0.5s linear 0.1s forwards;
    animation-timeline: scroll(0%, 0%);
}

.login-benefits li:nth-child(3) {
    -webkit-animation: login-benefits-slideIn 0.5s linear 0.2s forwards;
    animation: login-benefits-slideIn 0.5s linear 0.2s forwards;
    animation-timeline: scroll(0%, 0%);
}

.login-benefits li:nth-child(4) {
    -webkit-animation: login-benefits-slideIn 0.5s linear 0.3s forwards;
    animation: login-benefits-slideIn 0.5s linear 0.3s forwards;
    animation-timeline: scroll(0%, 0%);
}

/* Button Styling */
.login-button {
    background: #50d2d1;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.login-button:hover {
    transform: scale(1.05);
    /* Slight scale up on hover */
    background-color: #23f32d;
    /* Slightly darker cyan */
}

.login-button:focus {
    outline: none;
}

/* Fade In Animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media Queries */
@media (max-width:1300px) {
    .full-screen-login-prompt lottie-player {
        display: none;
    }
}

@media (max-width: 768px) {
    .login-prompt-box {
        padding: 30px;
    }

    .login-heading {
        font-size: 2.5em;
    }

    .login-text {
        font-size: 1em;
    }

    .login-benefits {
        font-size: 1em;
    }

    .login-button {
        font-size: 1.1em;
    }
}

@media screen and (max-width:640px) {
    .home-header {
        font-size: 0.55rem;
        padding: 10px;
    }

    .home-header-nav {
        margin-top: 5px;
    }

    .home-header-nav-item {
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

    .home-header-tags {
        margin: 5px;

        & input {
            font-size: 0.9rem;
            padding: 5px 15px;
        }

    }
}

@media screen and (max-width:350px) {
    .home-header {
        font-size: 0.4rem;
        padding: 10px;
    }

    .home-header-nav {
        margin-top: 5px;
    }

    .home-header-nav-item {
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

    .home-header-tags {
        margin: 5px;

        & input {
            font-size: 0.9rem;
            padding: 5px 15px;
        }

    }
}