.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    position: relative;
    padding: 0 25%; /* Add 10% padding on both sides */
  }

  .marquee span {
    display: inline-block;
    width: 150%;
    animation: marqueeSlide 8s linear infinite;
  }

  @keyframes marqueeSlide {
    0% {
      transform: translateX(100%); /* Starts outside the padded area */
    }
    100% {
      transform: translateX(-100%); /* Ends outside the padded area */
    }
  }

/* Header container styles */
.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: transparent;
  -webkit-animation: headerSlideIn 0.4s linear;
  animation: headerSlideIn 0.4s linear;
  margin: 0px 0px 45px 0px;
}

/* Scroll-in animation for header */
@keyframes headerSlideIn {
  0% {
    opacity: 0;
    width: 400px;
    color: rgb(0, 247, 255);
  }

  100% {
    width: 100%;
    opacity: 1;
    transform: translateY(0);
  }
}

.header-container svg {
  position: absolute;
}

/* Icon container styles */
.header-container .icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 20%;
}

/* Hover effect for icons */
.header-container .icons > div {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.header-container .user {
  position: relative;
}

.header-container .icons > div:hover {
  color: orange;
  transform: scale(1.15);
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.3));
}

/* Notification container for individual icons */
.header-container .icons .notification {
  position: relative;
}

/* Notification dot styling */
.notification .notification-dot {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: orange;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  animation: pulse 1s infinite ease-in-out;
  /* Pulse animation for notification dot */
}

/* Pulse animation for notification dot */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

.blogsra-logo {
  position: relative;
  font-size: 48px;
  /*Adjustsizeasneeded*/
  font-weight: bold;
  color: #000;
  /*Fallbacktextcolor*/
  display: inline-block;
  padding: 10px 20px;
  /*Addpaddingaroundtext*/
  text-transform: uppercase;
  /*Optional:;
        Tomaketextuppercase*/
  font-family: "REM", sans-serif;
  top: 12px;
  z-index: 1;
  background: linear-gradient(45deg, #d872f1, #16cbe7, #e84afd, #4fc5e2);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-box-reflect: below -45% linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(
          0,
          0,
          0,
          0.2
        )
        100%);
  filter: drop-shadow(0 0 1px rgba(32, 182, 202, 0.699))
    drop-shadow(0 0 8px rgba(212, 209, 212, 0.5))
    drop-shadow(0 0 12px rgba(185, 236, 236, 0.4));
  -webkit-animation: moveGradient 3s ease-in-out infinite alternate-reverse;
  animation: moveGradient 3s ease-in-out infinite alternate-reverse;
  -webkit-filter: drop-shadow(0 0 1px rgba(128, 128, 128, 0.699))
    drop-shadow(0 0 8px rgba(206, 82, 243, 0.5))
    drop-shadow(0 0 12px rgba(123, 211, 211, 0.4));
}

/* Keyframes for the gradient movement */
@-webkit-keyframes moveGradient {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 200% 200%;
  }
}

@keyframes moveGradient {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 200% 200%;
  }
}

.home-header {
  border-left: 2px solid whitesmoke;
  border-right: 2px solid whitesmoke;
}
