/* Header container styles */
.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    z-index: 20;
    position: relative;
    overflow: hidden;
    animation: slideIn 1s ease-out;
    /* border-left: 2px solid white; */
    /* Scroll-inanimationbackground-color: grey; */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-color: transparent;
}

/* Icon container styles */
.header-container .icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 20%;
}

/* Hover effect for icons */
.header-container .icons > div {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative;
}
.header-container .user{
    position: relative;
}

.header-container .icons > div:hover {
    color: orange;
    transform: scale(1.15);
    filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.3));
}

/* Notification container for individual icons */
.header-container .icons .notification {
    position: relative;
}

/* Notification dot styling */
.notification .notification-dot {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: orange;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    animation: pulse 1s infinite ease-in-out; /* Pulse animation for notification dot */
}

/* Scroll-in animation for header */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Pulse animation for notification dot */
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.8;
    }
}
.blogsra-logo {
    position: relative;
    font-size: 48px;
    /*Adjustsizeasneeded*/font-weight: bold;
    color: #000;
    /*Textcolor*/display: inline-block;
    padding: 10px 20px;
    /*Addpaddingaroundtext*/text-transform: uppercase;
    /*Optional:;
    Tomaketextuppercase*/font-family: 'Arial', sans-serif;
    z-index: 1;
    /*Makesurethetextisontop*//*Addclip-pathandapplyanimationforthebackground*/background: linear-gradient(45deg, #36daa3, #f5f5f5,#44daf5,#91f3d2, #f79191);
    background-size: 200% 200%;
    /*Stretchthebackgroundgradient*/-webkit-background-clip: text;
    background-clip: text;
    /*Clipthebackgroundtothetext*/-webkit-text-fill-color: transparent;
    -webkit-animation: moveGradient 1s ease-in-out infinite alternate-reverse;
    /*Makethetexttransparentsothebackgroundshows*/animation: moveGradient 3s ease-in-out infinite;
}

/* Keyframes for the gradient movement */
@keyframes moveGradient {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 200% 50%;
    }
    75%{
        background-position: 300% 75%;
    }
    100% {
        background-position: 400% 100%;
    }
}
