@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=REM:ital,wght@0,100..900;1,100..900&display=swap');
#root {
  margin: 0 auto;
  color: whitesmoke;
  min-height: 100vh;
  background: linear-gradient(45deg, #161616, #002941, #1a1a40, #161616, #1e1a3b);
  background-size: 300% 300%; /* Large size for smooth animation */
  animation: gradientAnimation 8s ease infinite; /* Infinite animation */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%; /* Slide to the other side */
  }
  100% {
    background-position: 0% 50%; /* Reset to start */
  }
}
/* App Container */
.app-container {
  font-family: "REM";
  width: 95%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .app-container {
    width: 100%;
    padding: 15px;
    margin: 0;
    border-radius: 10px;
  }
}



@keyframes STAR-MOVE {
	from {
    left: 0;
    top: 0;
    
}
	to {
    left: -10000px;
    top: -2000px;
}
}

#background {
  background: transparent  repeat 5% 5%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  -webkit-animation: STAR-MOVE 200s linear infinite;
  animation: STAR-MOVE 200s linear infinite;
}

#midground {
  background: url('./assets/midground.png') repeat 14% 14%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  opacity: 0.3;
  -webkit-animation: STAR-MOVE 150s linear infinite;
  animation: STAR-MOVE 150s linear infinite;
}

#foreground {
  background: url('./assets/foreground.png') repeat 20% 20%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  -webkit-animation: STAR-MOVE 100s linear infinite;
  animation: STAR-MOVE 100s linear infinite;
}
/* From Uiverse.io by vinodjangid07 */ 
button {
  padding: 8px !important;        /* Basic spacing */
  border: 1px solid #ccc;   /* Subtle border */
  border-radius: 4px;       /* Slightly rounded corners */
  color: #000;             /* Black text */
  font-size: 14px;         /* Readable size */
  cursor: pointer;         /* Pointer cursor on hover */
  
}

button:hover {
  background-color: #e0e0e0; /* Slightly darker on hover */
}

button:active {
  background-color: #d0d0d0; /* Even darker when pressed */
}
